<header class="main-header">
  <nav class="nav">
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
    <label for="nav-checkbox" class="nav-toggle">
      <span class="nav-icon">
        <box-icon class="burger" name="menu" size="md"></box-icon>
        <box-icon class="cross" name="x" size="md"></box-icon>
      </span>
    </label>
    <ul class="nav-menu">
      <li>
        <a class="logo" href="/"
          ><box-icon
            color="orange"
            border="circle"
            type="solid"
            name="flame"
            size="md"
          ></box-icon
          >Warmking</a
        >
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
  </nav>
</header>
