<header class="main-header">
  <nav class="nav">
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
    <label for="nav-checkbox" class="nav-toggle"
      ><box-icon class="nav-icon" name="menu"></box-icon
    ></label>
    <ul class="nav-menu">
      <li>
        <a href="#"><box-icon name="lemon" type="solid"></box-icon></a>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </nav>
</header>
