<header class="main-header">
  <nav class="nav">
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
    <label for="nav-checkbox" class="nav-toggle">
      <span class="nav-icon">
        <box-icon class="burger" name="menu"></box-icon>
        <box-icon class="cross" name="x"></box-icon>
      </span>
    </label>
    <ul class="nav-menu">
      <li>
        <a href="/"><box-icon name="lemon" type="solid"></box-icon></a>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </nav>
</header>
