<article class="news-card">
  <header class="news-card-header">
    <h2 class="news-card-title"><%= title %></h2>
    <time class="news-card-date"><%= date %></time>
  </header>
  <div class="news-card-content">
    <%= teaserText %> <a class="news-card-link" href="/news/<%= id %> ">More</a>
  </div>
</article>
