<%- include('./partials/head') %>
<main class="main-content">
  <div class="container">
    <h1 class="title">Products</h1>
    <div class="products-table-container">
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Installation Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>
<%- include('./partials/footer') %>
