@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

:root {
  --border-color: rgb(241, 241, 241);
  --border: 1px solid var(--border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Roboto", sans-serif;

  height: 100vh;
  display: grid;

  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content auto 40px;
}

.main-header {
  grid-area: header;
  min-height: 60px;
  box-shadow: 1px 1px 3px grey;

  padding: 0 50px;
}
.nav-checkbox {
  display: none;
}
.nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 30px 20px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.nav-icon box-icon,
.nav-icon {
  transition: all ease 0.11s;
}

.nav-icon box-icon:hover {
  opacity: 0.4;
}
.nav-icon:active {
  opacity: 0.2;
}

.nav-menu li {
  list-style: none;
  display: none;
  transition: all ease 0.1s;
}

.nav-menu li:not(:first-child):hover {
  transform: translateX(5px);
  opacity: 0.6;
}

.nav-menu li:not(:first-child):active {
  opacity: 0.2;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.nav-menu li:nth-child(1) {
  margin-right: auto;
  display: block;
}

.nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

.cross {
  display: none;
}

.nav-checkbox:checked ~ .nav-toggle .nav-icon .cross {
  display: block;
}

.nav-checkbox:checked ~ .nav-toggle .nav-icon .burger {
  display: none;
}

.main-content {
  grid-area: main;
}

.homepage-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.homepage-title {
  margin: 20px 0;
}

.title {
  font-weight: lighter;
  font-size: 36px;
}

.main-footer {
  grid-area: footer;
  box-shadow: -1px -1px 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer span {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.github {
  transition: all 1s;
}

.github:hover {
  transform: rotate(3turn);
}

/* NEWS CARD */
.news-card {
  height: 180px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: 15px;
  border-bottom-right-radius: 5px;
  margin: 10px 0;
}

.news-card-header {
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 10px;
  align-items: baseline;
  border-bottom: var(--border);
}
.news-card-date {
  flex: 1;
  margin-left: auto;
}

.news-card-title {
  margin-left: 40px;
  flex: 3;
}

.news-card-content {
  font-weight: 400;
  font-size: 15px;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 5px 20px;
  overflow: auto;
}

.news-card-link {
  display: block;
  position: absolute;
  font-size: 10px;
  text-decoration: none;
  opacity: 0.6;
  color: inherit;
  bottom: 6px;
  right: 8px;
}

.news-card-link:hover {
  opacity: 1;
  text-decoration: underline;
}

/* NEWS CARD END */

/* CONTACT FORM START */
.contact-form-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.contact-form-container h1 {
  margin: 50px 0;
}
.contact-form {
  width: 100%;
  max-width: 500px;
  margin: auto auto;

  display: grid;
  grid-template-areas:
    "name"
    "email"
    "errand"
    "message"
    "button";
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 20px;
  border-radius: 10px;
  border: var(--border);
}
.contact-form .form-name {
  grid-area: name;
}
.contact-form .form-email {
  grid-area: email;
}
.contact-form .form-errand {
  grid-area: errand;
}
.contact-form .form-message {
  grid-area: message;
  resize: none;
}
.contact-form .form-submit {
  grid-area: button;
  padding: 5px 10px;
  width: 100px;
  margin: 0 20px 0 auto;
}

.container {
  margin: 50px auto;
  text-align: center;
}

.products-table-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.display {
  width: calc(100% - 2px) !important;
}

.privacy-page-container {
  width: 100vw;
  margin: 10px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.privacy-page-container li {
  margin-left: 15px;
}

@media only screen and (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    gap: 70px;
  }

  .nav-menu li {
    display: block;
  }
  .nav-menu li:last-child {
    margin: 0 auto 0 0;
  }

  .contact-form {
    grid-template-areas:
      "name email"
      "errand errand"
      "message message"
      "button button";
  }
}
